<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>File Upload</h1>
    
    <form method="POST" action="/" enctype="multipart/form-data">
        <label for="uploads">Choose a file:</label>
        <input type="file" name="uploads" id="uploads" accept=".xlsx, .xls">

        </select>

        <input type="submit" value="Upload and Compare">
    </form>
</body>
</html>
