<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Search</title>
</head>
<body>
    <h1>Name Search</h1>
     
    <form action="/search" method="post">
        <label for="search_text">Enter Name:</label>
        <!-- Change input to textarea -->
        <textarea name="search_text" required></textarea>
        
        <label for="selected_column">Select Column:</label>
        <select name="selected_column" required>
            {% for column in column_names_entities %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Search</button>
    </form>

    {% if search_result %}
        <h2>Search Result:</h2>
        <!-- Include the entered text value in the search result -->
        <p>Entered Name: {{ request.form['search_text'] }}</p>
        {{ search_result|safe }}
    
        <!-- Add Export button -->
        <form action="{{ url_for('export_pdf') }}" method="post">
    <textarea name="search_result_plain_text" style="display: none;">{{ actual_search_result|safe }}</textarea>
    <textarea name="search_text" style="display: none;">{{ request.form['search_text'] }}</textarea>
    <button type="submit">Export to PDF</button>
</form>

    {% else %}
        {% if request.method == 'POST' %}
            <h2>Search Result:</h2>
            <h2>No results found</h2>
            <!-- Set search_result_plain_text to "No Results Found" -->
            <textarea name="search_result_plain_text" style="display: none;">No Results Found</textarea>
            <!-- Include the entered text value even if no results found -->
            <p>Entered Name: {{ request.form['search_text'] }}</p>
        {% endif %}
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <a href="{{ url_for('bulk_upload') }}" class="btn btn-primary">Bulk Upload</a>  
 
</body>
</html>
